.DS_Store
._*
.env
.env.*

.arts/
.codeartsdoer/
.git/
.idea/
.vscode/

*.bak
*.cache
*.csv
*.db
*.db-wal
*.go.gen
*.go.gen-*
*.log
*.log-*
*.lock
*.new
*.old
*.out
*.swap
*.swp
*.sublime-project
*.sublime-workspace
*.test

bin/
specs/
tmp/
vendor/

/example/go.sum
/tests/go.sum
