.DS_Store
._*
.env
.env.*
*.bak
*.cache
*.csv
*.db
*.db-wal
*.go.gen
*.go.gen-*
*.log
*.log-*
*.lock
*.new
*.old
*.out
*.swap
*.swp
*.sublime-project
*.sublime-workspace

.git/
.idea/
.vscode/
bin/
tmp/
vendor/

/example/go.sum
/tests/go.sum